/* Inputs */
input::placeholder,
textarea::placeholder {
    opacity: 0.4;
}

.word-count label span::after {
    content: var(--word-count);
}

.question-target label span::after {
    content: " (optional, will not be compressed)";
}

/* Accordion component (about text) */
.accordion {
    background: transparent;
    padding: var(--spacing-lg) calc(var(--spacing-lg) + 2px);
}

.accordion .label-wrap span {
    font-weight: bold;
    font-size: 1rem;
}

.accordion > div:last-child > div {
    gap: var(--spacing-xl);
}

#notes {
    padding: 4px 10px;
    background: var(--background-fill-secondary);
}

/* Settings */
#settings,
#settings > div {
    gap: 6px;
}

.force-tokens .wrap-inner {
    padding: 3px 5px;
}

.force-tokens .token {
    padding: 2px 8px;
}

/* Metrics Datatable */
.metrics * {
    overflow-y: hidden;
}

/* Examples component */
#examples .label {
    display: none;
}

#examples .gallery-item {
    max-height: 100px;
}

#examples .paginate {
    font-size: var(--text-lg);
}

/* HighlightedText component (compressed diff) */
.textfield {
    line-height: 1.29;
    height: 100px;
    overflow: auto;
    resize: vertical;
    padding: var(--input-padding);
    border: var(--input-border-width) solid var(--input-border-color);
    border-radius: var(--input-radius);
}

.textfield .textspan {
    border-radius: 0;
    padding: 0;
    word-break: break-word;
}

.textfield .hl + .hl{
    margin-left: 0;
}

.textfield .no-cat {
    opacity: 0.3;
}

/* Toggle diff */
#compressed-diff label {
    pointer-events: initial;
    width: 100%;
    border-right: none;
    border-top-right-radius: calc(var(--radius-lg) - 1px);
    border-bottom-right-radius: 0;
}

#compressed-diff .empty {
    margin-top: 0;
}

#compressed-diff:not(.show-diff) .no-cat {
    display: none;
}

#compressed-diff:not(.show-diff) .hl {
    background-color: transparent !important;
}

#compressed-diff:not(.show-diff) .hl span {
    color: var(--body-text-color) !important;
}

#compressed-diff.no-content button {
    display: none;
}

button.diff-button {
    margin-left: auto;
    border: var(--button-border-width) solid var(--button-primary-border-color);
    background: var(--button-primary-background-fill);
    color: var(--button-primary-text-color);
    padding: 0 8px;
    border-radius: 5px;
}

button.diff-button:hover {
    border-color: var(--button-primary-border-color-hover);
    background: var(--button-primary-background-fill-hover);
    color: var(--button-primary-text-color-hover);
}

button.diff-button::after {
    content: "Toggle diff";
}

.source {
    float: right;
}

.source svg {
    width: 20px;
    margin-top: 12px;
}

@media (prefers-color-scheme: dark) {
    .source svg path {
        fill: white;
    }
}

/* Fonts */
/* source-sans-3-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/source-sans-3-v15-latin-regular.woff2') format('woff2');
}

/* source-sans-3-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/source-sans-3-v15-latin-600.woff2') format('woff2');
}

/* ibm-plex-mono-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/ibm-plex-mono-v19-latin-regular.woff2') format('woff2');
}

/* ibm-plex-mono-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/ibm-plex-mono-v19-latin-600.woff2') format('woff2');
}