/* Inputs */
input::placeholder,
textarea::placeholder {
    opacity: 0.4;
}

.word-count label span::after {
    content: var(--word-count);
}

.question-target {
    margin-bottom: -6px;
}

.has-info + div {
    display: inline-block;
}

.rate .head {
    align-items: center;
}

.rate .head::after {
    content: "%";
}

.rate .head input {
    margin: 0 5px 0 auto;
    appearance: textfield;
}

.link-button {
    background: transparent;
    border: none;
    padding: 0;
    width: fit-content;
    border-bottom: 1px solid;
    border-radius: 0;
    line-height: 1em;
}

/* Tabs */
.tabs {
    margin-bottom: -42px;
}

.tabs .tab-nav {
    border-bottom: none;
}

.tabs button {
    padding-bottom: 10px;
}

.tabs .tab-nav .selected {
    background: var(--block-background-fill);
}

.tabs .tabitem {
    opacity: 0;
}

/* Accordion component */
.accordion {
    background: transparent;
    padding: var(--spacing-lg) calc(var(--spacing-lg) + 2px);
}

.accordion .label-wrap span { /* Title */
    font-weight: bold;
    font-size: 1rem;
}

.accordion > div:last-child > div { /* Content */
    gap: var(--spacing-xl);
}

#notes {
    padding: 6px 10px;
    background: var(--background-fill-secondary);
}

/* Settings */
#settings {
    gap: 6px;
}

.force-tokens .wrap-inner {
    padding: 3px 5px;
}

.force-tokens .token {
    padding: 2px 8px;
}

/* Examples */
#examples .label {
    display: none;
}

#examples .gallery-item .gallery {
    max-height: 45px;
    white-space: unset;
}

#examples .paginate {
    font-size: var(--text-lg);
}

/* Dataframes */
.dataframe svelte-virtual-table-viewport table {
    scrollbar-width: none;
}

.metrics {
    border-radius: 0;
}

.metrics .wrap {
    inset: 1px;
    border-radius: calc(var(--block-radius) - 1px) calc(var(--block-radius) - 1px) 0 0;
}
.metrics .sort-button {
    visibility: hidden;
}

.metrics .table-wrap {
    border-radius: var(--table-radius) var(--table-radius) 0 0;
}

.qa-pairs p {
    font-size: .85rem;
}

.qa-pairs .table-wrap {
    min-height: 150px;
    max-height: 150px;
}

.qa-pairs .table-wrap svelte-virtual-table-viewport table {
    scrollbar-width: thin;
}

.qa-pairs .table-wrap .cell-wrap {
    min-height: unset;
}

.qa-pairs .table-wrap .cell-wrap span {
    font-size: 0.9em;
}

/* Outputs */
.outputs {
    border-color: var(--border-color-primary);
}

.responses > div {
    background: transparent;
    border: none;
    gap: var(--layout-gap);
}

.responses .block {
    padding: 0;
    background: transparent;
}

.button-pulse {
    animation: 4s 3s 8 pulse-scale, 4s 3s 8 pulse-shadow;
}

.button-hint {
    text-align: center;
    color: var(--block-info-text-color);
    font-size: 13px;
}

.button-hint * {
    color: inherit;
}

/* HighlightedText component (compressed diff) */
#compressed-diff {
    margin-top: calc(var(--layout-gap) * -1 - 1px);
    overflow: hidden !important;
    border-radius: 0 0 var(--block-radius) var(--block-radius);
}

#compressed-diff .wrap {
    border-radius: 0;
}

#compressed-diff .empty {
    margin-top: 0;
    min-height: 90px;
}

#compressed-diff .container {
    padding: 0;
}

#compressed-diff label {
    pointer-events: initial;
    width: 100%;
    border-right: none;
    border-radius: 0;
    border-bottom: none;
}

#compressed-diff.force-open .empty {
    min-height: 250px;
}

#compressed-diff:not(.open):not(.force-open) .empty,
#compressed-diff:not(.open):not(.force-open) .container {
    overflow: hidden;
    height: 0;
    min-height: 0;
}

#compressed-diff:not(.force-open) label {
    cursor: pointer;
}

#compressed-diff:not(.force-open) label::after {
    content: "▼";
    transform: rotate(90deg);
    transition: .15s;
}

#compressed-diff.open label::after {
    transform: rotate(0);
}

#compressed-diff .textfield {
    height: 90px;
    min-height: 90px;
    overflow: auto;
    scrollbar-width: none;
    resize: vertical;
    padding: var(--input-padding);
    line-height: var(--line-sm);
}

#compressed-diff.force-open .textfield {
    height: 250px;
}

#compressed-diff .textfield .textspan {
    border-radius: 0;
    padding: 0;
    word-break: break-word;
}

#compressed-diff .textfield .hl + .hl {
    margin-left: 0;
}

#compressed-diff .textfield .no-cat {
    opacity: 0.3;
}

#compressed-diff:not(.show-diff) .no-cat {
    display: none;
}

#compressed-diff:not(.show-diff) .hl {
    background-color: transparent !important;
}

#compressed-diff:not(.show-diff) .hl span {
    color: var(--body-text-color) !important;
}

button.diff-button {
    padding: 0 8px;
    margin: 0 15px 0 auto;
    border: var(--button-border-width) solid var(--button-primary-border-color);
    background: var(--button-primary-background-fill);
    color: var(--button-primary-text-color);
    border-radius: 5px;
}

button.diff-button::after {
    content: "Toggle diff";
}

button.diff-button:hover {
    border-color: var(--button-primary-border-color-hover);
    background: var(--button-primary-background-fill-hover);
    color: var(--button-primary-text-color-hover);
}

#compressed-diff.force-open .diff-button {
    margin-right: 0;
}

#compressed-diff:not(.open):not(.force-open) .diff-button,
#compressed-diff label:has( + .empty) .diff-button {
    visibility: hidden;
}

/* GitHub icon */
.source {
    float: right;
}

.source svg {
    width: 20px;
    margin-top: 12px;
}

@media (prefers-color-scheme: dark) {
    .source svg path {
        fill: white;
    }
}

/* Fonts */
/* source-sans-3-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/source-sans-3-v15-latin-regular.woff2') format('woff2');
}

/* source-sans-3-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/source-sans-3-v15-latin-600.woff2') format('woff2');
}

/* ibm-plex-mono-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/ibm-plex-mono-v19-latin-regular.woff2') format('woff2');
}

/* ibm-plex-mono-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/ibm-plex-mono-v19-latin-600.woff2') format('woff2');
}

@keyframes pulse-scale {
    0% {
        transform: scale(1);
    }

    14% {
        transform: scale(1.02);
    }

    20% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes pulse-shadow {
    
    0% {
        box-shadow: 0 0 0 0 rgba(251, 146, 60, .3);
    }

    50% {
        box-shadow: 0 0 0 10px rgba(251, 146, 60, .0);
    }

    100% {
        box-shadow: 0 0 0 15px rgba(251, 146, 60, 0);
    }
}